Tipos de datos

In [ ]:
num1 = 5 #variable de tipo entero.
num2 = 4.9 #variable de tipo double, real, decimal.
print("Los valores: Num 1: ", num1, " Num 2: ", num2)

#num1 = 4.9
print("Valor: Num 1: ", num1)

In [ ]:
varLogica = False

print("Variable Booleana: ", varLogica)

In [ ]:
nombre = "Luis Hernandez"
print("Mi Nombre: ", nombre, "Iniciales: ", nombre[0], nombre[5], "Longitud: ", len(nombre) )
print("Primer Nombre: ", nombre[0:5])
print("Primer Nombre: ", nombre[:5])
print("Apellido: ", nombre[5:len(nombre)])
print("Apellid: ", nombre[5:])
print("Apellido: ", nombre[-9:])

In [ ]:
print(type(num1))
print(type(num2))
print(type(varLogica))
print(type(nombre))

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("Num 2: "))
resp = num1 + num2
print("La suma es: ", resp)

In [ ]:
def suma(num1, num2):
  return num1 + num2

In [ ]:
num1 = float(input("Num 1: "))
num2 = float(input("N4.26um 2: "))
resp = suma(num1, num2)
print(resp)

Convertir grados celcius a farenheit